* {
  box-sizing: border-box;
}

/* Estilos generales */
body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: #1f2627;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

/* Estilos de la barra de menú */

.barramenu {
  display: flex;
  background-color: #107688;
  height: 50px;
}

/* Estilos del contenedor principal */

.contenedorpadre {
  display: flex;
  flex-direction: row;
  padding: 10px;
  }

/* Estilos de los contenedores internos */

/* Estilos para el contenedor1 */
.contenedor1 {
  border-radius: 20px;
  background-color: #1f2627;
  box-shadow: 0 2px 6px rgb(0, 247, 255);
  height: 100%;
  margin-right: 5px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: calc(70%);
  height: 90vh;
  
  box-sizing: border-box;
}
/* Estilos para el contenedor2 */
.contenedor2 {
  box-sizing: border-box;
  width: 30%;
  height: 90vh;
  border-radius: 20px;
  background-color: #0eb9d3;
  box-shadow: 0 2px 6px rgb(8, 28, 11);
}

/* Estilos para las columnas */
.hexagon {
 
  margin: 10px;
  max-width: calc(25% - 5px);
  height: 150px;
  width: 150px;
  background-color: #00f3eb;
  border-radius: 20px;
  box-sizing: border-box;
  box-shadow: 0 2px 6px rgb(27, 48, 48);
  clip-path: polygon(25% 0, 75% 0, 100% 50%, 75% 100%, 25% 100%, 0 50%);
}

/* Aqui fuerza que la pantalla al ser menor que 600 pixeles el contenedorpadre se ajuste
en columnas y cada contenedor tome el 100% de la pantalla en esa resolucuin */

@media screen and (max-width: 500px) {
  .contenedorpadre {
    flex-direction: column;
    align-items: center;
    gap: 5px ;

  }
.contenedor1{
  overflow-y: scroll;
  width: 100%;
}
.contenedor2{
  
  width: 100%;
}

  .hexagon {
    width: calc(50% - 20px);
    max-width: calc(50% - 25%);
  }
}


/*javascrip ventana*/
/* Estilos para la ventana emergente */

@import url("https://fonts.googleapis.com/css?family=poppins&display=swap");

button {
  margin-top: 5px;
  margin-left: 10px;
  background-color: #00ffff;
  border: 0;
  border-radius: 20px 20px 20px 20px;
  box-shadow: #0097b2;
  color: rgb(0, 0, 0);
  font-size: 14px;
  padding: 10px 15px;
}
.modal-container {
  display: flex;
  background-color: rgb(0, 0, 0);
  align-items: center;
  justify-content: center;
  position: absolute;
  pointer-events: none;
  opacity: 0%;
  top: 0;
  left: 0;
  margin-top: 50px;
  margin-left: 80px;
}
.show {
  pointer-events: auto;
  z-index: 9;
  opacity: 1;
}

.modal {
  text-align: center;
  padding: 10px;
  background-color: #2d2626;
  height: 90vh;
  width: 80vw;
  border-radius: 20px;
  box-shadow: 0 2px 4px rgb(9, 53, 55);
}
