/* Estilos generales */
* {
  margin: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: #1f2627;
}
#nombrepag {
  position: absolute;
  justify-content: center;
  text-align: center;
  left: 670px;
  top: 3px;
  box-sizing: border-box;
  box-shadow: #061a1e;
}
/* Estilos de la barra de menú */
.barramenu {
  
  display: flex;
  flex-direction: row;
  background-color: #05869d;
  height: 50px;
}

/* Estilos del contenedor principal */
.contenedorpadre {
  position: relative;
  display: grid;
  gap: 5px;
  background-color: #1f2627;
}

main.CONTENEDOR-CARA {
  grid-area: CONTENEDOR-CARA;
}

main.contenedor1 {
  grid-area: contenedor1;
}

main.contenedor2 {
  grid-area: contenedor2;
}

main.contenedor3 {
  grid-area: contenedor3;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

main.contenedor4 {
  grid-area: contenedor4;
  width: 100%;
}

/* Estilos de la cuadrícula para diferentes tamaños de pantalla */

@media screen and (max-width: 500px) {
  .contenedorpadre {
    grid-template-columns: 1fr;
    grid-template-areas:
      "contenedor1"
      "CONTENEDOR-CARA"
      "contenedor2"
      "contenedor3"
      "contenedor4";
  }
  main.contenedor4 {
    width: auto;
  }
}

@media screen and (min-width: 501px) {
  .contenedorpadre {
    grid-template-columns: 900px 1fr;
    grid-template-areas:
      "contenedor1 CONTENEDOR-CARA"
      "contenedor2 CONTENEDOR-CARA"
      "contenedor3 CONTENEDOR-CARA"
      "contenedor4 CONTENEDOR-CARA";
  }

  main.contenedor4 {
    width: 1299px;
  }
}

/* Estilos iniciales para los contenedores */
main.contenedor3 .contenedor-imagen2,
main.contenedor3 .contenedor-imagen1,
main.contenedor3 .contenedor-imagen4,
main.contenedor3 .contenedor-imagen3,
main.contenedor3 .contenedor-imagen5,
main.contenedor3 .contenedor-imagen6 {
  display: flex;
  justify-content: center; /* Centra horizontalmente el contenido */
  align-items: center; /* Centra verticalmente el contenido */
  transition: width 0.5s, height 0.5s; /* Agrega una transición suave */
}

/* Media query para el rango de tamaño de pantalla específico */
@media (max-width: 500px) {
  main.contenedor3 .contenedor-imagen2,
  main.contenedor3 .contenedor-imagen1,
  main.contenedor3 .contenedor-imagen4,
  main.contenedor3 .contenedor-imagen3,
  main.contenedor3 .contenedor-imagen5,
  main.contenedor3 .contenedor-imagen6 {
    width: 100px;
    height: 100px;
    align-items: center;
    justify-content: center;
    top: auto;
    right: auto;
    position: relative; /*ajusta la posicion al minimizar me tiene podrido jajaj*/
  }
}

/* Estilos de los contenedores internos */

.CONTENEDOR-CARA {
  border: 1px solid black;
  width: auto;
  height: 613px;
  margin: 5px;
  z-index: 10;
  background-color: #184f59;
  border-radius: 15px;
  box-shadow: inset 0 2px 5px rgb(16, 37, 37);
}

main.contenedor1 {
  position: relative;
  overflow: hidden;
  height: 613px;
  margin: 5px;
  background-color: #1f2627;
  box-shadow: 0 2px 6px #00f7ff;
  border-radius: 18px;
}

main.contenedor2 {
  overflow: hidden;
  height: 300px;
  background-color: #061a1e;
  margin: 5px;
  border-radius: 15px;
  box-shadow: 0 1px 2px #00f7ff;
}

main.contenedor3 {
  overflow: hidden;
  position: relative;
  height: 300px;
  background-color: #061a1e;
  margin: 5px;
  border-radius: 15px;
  box-shadow: 0 1px 2px #00f7ff;
}
main.cont3 {
  overflow: hidden;
  height: 280px;
  background-color: #061a1e;
  margin: 10px;
  border-radius: 15px;
  box-shadow: 0 3px 5px #ff0000;
}
main.contenedor4 {
  height: 300px;
  border-radius: 15px;
  background-color: #061a1e;
  box-shadow: 0 2px 6px rgb(0, 247, 255);
  margin: 5px;
}
/*login*/
.center {
  position: absolute;
  top: 4%;
  left: 95%;
  transform: translate(-50%, -50%);
}
.center button {
  padding: 10px 20px;
  font-size: 15px;
  font-weight: 600;
  color: #222;
  background: #10b8d6;
  border: none;
  outline: none;
  cursor: pointer;
  border-radius: 5px;
}
.popup {
  position: absolute;
  top: -150%;
  left: 50%;
  opacity: 0;
  transform: translate(-50%, -50%) scale(1.25);
  width: 380px;
  padding: 20px 30px;
  background: #1f2627;
  box-shadow: 0px 2px 5px #17d9fb;
  border-radius: 15px;
  color: #ffffff;
  transition: top 0ms ease-in-out 200ms, opacity 0ms ease-in-out 0ms,
    transform 200ms ease-in-out 0ms;
}
.popup.active {
  top: 50%;
  z-index: 2;
  opacity: 1;
  transform: translate(-50%, -50%) scale(1);
  transition: top 0ms ease-in-out 0ms, opacity 0ms ease-in-out 0ms,
    transform 200ms ease-in-out 0ms;
}
.popup .closebtn {
  position: absolute;
  top: 10px;
  left: 350px;
  width: 15px;
  height: 15px;
  background: #888;
  color: #ffffff;
  text-align: center;
  line-height: 15px;
  border-radius: 15px;
  cursor: pointer;
}
.popup .form h2 {
  text-align: center;
  color: #ffffff;
  margin: 10px 0px 20px;
}
.popup .form .fromelement {
  margin: 15px 0px;
}
.popup .form .fromelement label {
  font-size: 14px;
  color: #ffffff;
}
.popup .form .fromelement input[type="text"],
.popup .form .fromelement input[type="text"] {
  margin-top: 5px;
  display: block;
  width: 100%;
  padding: 10px;
  outline: none;
  border: none;
  border-radius: 15px;
}
.popup .form .fromelement input[type="checkbox"] {
  margin-right: 5px;
}
.popup .form .fromelement button {
  width: 100%;
  height: 45%;
  border-radius: 10px;
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 20px;
  color: #ffffff;
  background: #1f2627;
  box-shadow: 1px 2px 5px #17d9fb;
}
.popup .form .fromelement a {
  display: block;
  text-align: right;
  color: #ffffff;
  text-decoration: none;
  font-weight: 600;
}
/*hexagonos contenedor3*/

/* Agrega aquí cualquier otra propiedad de estilo para el contenedorcategoria */

.contenedor-imagen1 {
  position: absolute;
  top: 10px;
  right: 298px;
  background-color: #059d33;
  width: 300px;
  height: 150px;
  clip-path: polygon(25% 0, 75% 0, 100% 50%, 75% 100%, 25% 100%, 0 50%);
}

.contenedor-imagen2 {
  position: absolute;
  top: 90px;
  right: 598px;
  background-color: #9d6a05;
  width: 150px;
  height: 150px;
  clip-path: polygon(25% 0, 75% 0, 100% 50%, 75% 100%, 25% 100%, 0 50%);
}

.contenedor-imagen3 {
  position: absolute;
  top: 175px;
  right: 512px;
  background-color: #30059d;
  width: 100px;
  height: 100px;
  clip-path: polygon(25% 0, 75% 0, 100% 50%, 75% 100%, 25% 100%, 0 50%);
}

.contenedor-imagen4 {
  position: absolute;
  top: 175px;
  right: 399.5px;
  background-color: #9d0505;
  width: 100px;
  height: 100px;
  clip-path: polygon(25% 0, 75% 0, 100% 50%, 75% 100%, 25% 100%, 0 50%);
}

.contenedor-imagen5 {
  position: absolute;
  right: 288px;
  top: 175px;
  background-color: #11cced;
  width: 100px;
  height: 100px;
  clip-path: polygon(25% 0, 75% 0, 100% 50%, 75% 100%, 25% 100%, 0 50%);
}

.contenedor-imagen6 {
  position: absolute;
  top: 90px;
  right: 150px;
  background-color: #1a2c25;
  width: 150px;
  height: 150px;

  clip-path: polygon(25% 0, 75% 0, 100% 50%, 75% 100%, 25% 100%, 0 50%);
}
.contenedor-imagen1 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.contenedor-imagen2 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.contenedor-imagen3 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.contenedor-imagen4 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.contenedor-imagen5 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.contenedor-imagen6 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.logo-container {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  width: 40px; /* Ajusta el tamaño del contenedor según tus necesidades */
  height: 40px;
  border-radius: 50%;
  box-shadow: 0 3px 5px #256466;
  background-color: #142337; /* Cambia el color de fondo según tus preferencias */
  top: 3px;
  left: 10px;
}

.circular-logo {
  top: 2px;
  box-shadow: inset 0 1px 2px #0e2b2c;
  border-radius: 50%;
  max-width: 400%;
  max-height: 100%;
}
